.DS_Store
sitemap.xml
robots.txt
/.htaccess
/.htpasswd
/index.php
/mysql
nbproject
/nbproject/*
/log/*
/media/*
!/media/icons/
/assets/*
/log
/protected/assets/MinifiedTemplate.php
/protected/assets/BuildAsset.php
/protected/vendor/
/protected/runtime
/protected/runtime/*
/protected/config/*
/protected/yii
!/protected/config/web.php
yii
/nbproject/private/
.htaccess.bk
.htpasswds
error_log
bkp/
dbs.php
